<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the bean and specify its initialization method -->
    <bean id="book_service" class="org.karthikeyan.library.service.BookService">
        <property name="bookRepository" ref="book_repository"/>
    </bean>

    <bean id="book_repository" class="org.karthikeyan.library.repository.BookRepository">
    </bean>

</beans>
